<div class="page">
    <h2 class="title"></h2>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Edit Order
                </div>
                <div class="panel-body">
                    <h4>Name : Dhaval Gala</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="db" style="font-size: 16px;">Billing Address :</span>
                            <span class="db" ng-if="order.billing.line1">{{order.billing.line1}}</span>
                            <span class="db" ng-if="order.billing.line2">{{order.billing.line2}}</span>
                            <span class="db" ng-if="order.billing.line3">{{order.billing.line3}}</span>
                            <span class="db" ng-if="order.billing.city">{{order.billing.city}}</span>
                            <span class="db" ng-if="order.billing.pincode">{{order.billing.pincode}}</span>
                            <span class="db" ng-if="order.billing.state">{{order.billing.state}}</span>
                            <span class="db" ng-if="order.billing.country">{{order.billing.country}}</span>
                        </div>
                        <div class="col-md-6">
                            <span class="db" style="font-size: 16px;">Shipping Address :</span>
                            <span class="db" ng-if="order.shipping.line1">{{order.shipping.line1}}</span>
                            <span class="db" ng-if="order.shipping.line2">{{order.shipping.line2}}</span>
                            <span class="db" ng-if="order.shipping.line3">{{order.shipping.line3}}</span>
                            <span class="db" ng-if="order.shipping.city">{{order.shipping.city}}</span>
                            <span class="db" ng-if="order.shipping.pincode">{{order.shipping.pincode}}</span>
                            <span class="db" ng-if="order.shipping.state">{{order.shipping.state}}</span>
                            <span class="db" ng-if="order.shipping.country">{{order.shipping.country}}</span>
                        </div>
                    </div>
                </div>
                <div style="margin:10px;">
                    <table class="table table-bordered" style="margin-bottom: 5px;">
                        <thead>
                            <tr class="bg-dark">
                                <th class="text-center">Item</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Sub Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in order.cart">
                                <td>
                                    <div class="ib text-center" style="width:100px;height:100px">
                                        <img ng-src="{{items.image[0]|uploadpath}}" class="img-responsive" style="max-height:100%">
                                    </div>
                                    <div class="ib adjust-top">
                                        <p>{{items.name}}</p>
                                        <p>Color : Black</p>
                                    </div>
                                </td>
                                <td class="text-center">{{items.quantity}}</td>
                                <td class="text-center">{{items.price|currency:""}}</td>
                                <td class="text-center">{{items.subTotal|currency:""}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-offset-8 col-md-4">
                            <div class="text-right" style="margin-right: 20px;">
                                <span>Estimated Total : </span>
                                <span>{{order.price|currency:""}}</span>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label>Status</label>
                        <select class="form-control" ng-model="order.status">
                            <option value="Pending">Pending</option>
                            <option value="Processing">Processing</option>
                            <option value="Shippied">Shippied</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </div>
                    <div class="text-center" style="padding-bottom:20px;">
                        <button class="btn btn-primary all-btn" ng-click="submitForm();">Submit</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
